@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply transition-all;
}

body {
    @apply overflow-y-scroll;
}

.react-pdf__Page__textContent.textLayer,
.react-pdf__Page__annotations.annotationLayer {
    @apply hidden;
}

.disabled {
    @apply pointer-events-none opacity-40;
}

pre {
    max-height: 500px;
    overflow-y: scroll;
    padding: 20px;
    font-size: 12px;
}

.react-pdf__message {
    @apply hidden;
}

.pdf-thumbnail canvas {
    @apply max-h-[150px] object-contain !w-auto rounded-md overflow-hidden;
}

.rpv-thumbnail__cover-loader {
    @apply flex justify-center;
}

.rpv-thumbnail__cover-inner {
    @apply flex justify-center items-center;
}

.pdf-thumbnail img.rpv-thumbnail__cover-image {
    @apply max-h-[150px] object-contain !w-auto rounded-md overflow-hidden;
}

.rpv-core__doc-loading, .core__doc-loading, .rpv-core__viewer.rpv-core__viewer--light {
    background-color: none !important;
}
